body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

div#filter {
	float: left;
	width: 200px;
	font-size: 14px;
}
div#chart {
	float: left;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.category {
	cursor: pointer;
}
.category:hover {
	opacity: 0.6;
}
.category.selected {
	color: #666;
}
.category.unselected {
	color: #ccc;
}